
.row {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.col1 {
    background-color: blue;
    min-width: 380px;
    /* flex: 1 */
}

.col2 {
    background-color: green;
    min-width: 380px;
    /* flex: 1; */
}

@media only screen and (max-width: 1080px) {
    .col1 {
        background-color: red;
        min-width: 100%;
    }
    
    .col2 {
        background-color: yellow;
        min-width: 100%;
    }
  }